.radioBtns{
    display: flex;
    align-items: center;
    justify-content: center;
}

.radioBtn{
    width: auto;
}

.proposition{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    margin-top: 10px;
}

td{
    text-align: center;
    border-top: 1px solid white;
    width: 4%;
}

.newProposition{
    margin-top: 10px;
}