@import url(./colors.css);

.App {
  /* background-color: var(--color-light-blue) ; */
  /* background-image: url(../assets/image-test2.jpeg); */
  /* background-image: url(../assets/industrie-energies-nouvelles.jpeg); 
  /* background-image: url(../assets/cape-ortegal-117601_1920.jpg);  number 1 */
  /* background-image: url(../assets/324639780_554103413438751_1893860415232768902_n.png); number3 */
  background-image: url(../assets/dall_e.png); 
  background-size: cover;
  position: relative;
  background-position: center center;
  height: 120vh;
}

.title {
  display: flex;
  align-items: flex-end;
  min-height: 50px;
  justify-content: center;
  font-size: 48px;
  padding-top: 50px;
  padding-bottom: 20px;
  color: var(--primary-color-white);
  margin-top: 0;
}