@import url(../../styles/colors.css);

fieldset{
    border-radius: 10px;
    color: var(--primary-color-white);
    border: none;
    display: contents;
    /* display: flex;
    flex-direction: column;
    align-items: baseline; */
}

/* .container{
    box-shadow: 0 0 35px 0 rgb(0 0 0 / 20%);
    margin-left: 100px;
    margin-right: 100px;
    padding-top: 20px;
    padding-bottom: 30px;
    background-color: var(--primary-color-white);

} */

.container{
    position: relative;
    margin-right: auto;
    margin-left: auto;
    width: 70%;
    transform: tranlate(-50%, -50%);
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));
    padding: 50px 30px;
    border-radius: 10px;
    box-shadow: 7px 7px 60px #000;
}

.block{
    margin-bottom: 25px;
}

input{
    width: 100%;
    border: none;
    padding: 5px;
    background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1));
    color: var(--primary-color-white);
    margin-right: 10px;
}



/*------------------------------------------*/
 
:root {
  --form-control-color: white;
  --form-control-disabled: #959495;
}

input[type="checkbox"] {
  /* Add if not using autoprefixer */
  -webkit-appearance: none;
  /* Remove most all native input styles */
  appearance: none;
  /* For iOS < 15 */
  background-color: var(--form-background);

  font: inherit;
  color: currentColor;
  width: 1.15em;
  height: 1.15em;
  /* border: 0.15em solid currentColor; */
  border-radius: 0.15em;
  transform: translateY(-0.075em);

  display: grid;
  place-content: center;
}

input[type="checkbox"]::before {
  content: "";
  width: 0.65em;
  height: 0.65em;
  clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
  transform: scale(0);
  transform-origin: bottom left;
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em var(--form-control-color);
  /* Windows High Contrast Mode */
  background-color: CanvasText;
}

input[type="checkbox"]:checked::before {
  transform: scale(1);
}

input[type="checkbox"]:focus {
  outline: max(0.1px, 0.1px) solid currentColor;
  outline-offset: max(2px, 0.15em);
}

input[type="checkbox"]:disabled {
  --form-control-color: var(--form-control-disabled);

  color: var(--form-control-disabled);
  cursor: not-allowed;
}
/*------------------------------------------*/
label{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
     /* align-items: center; */
    margin-bottom: 10px;
    width: 100%;
}

label span{
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}

select{
    width: 100%;
    border: none;
    padding: 5px;
    background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1));
    color: var(--primary-color-white);
    margin-bottom: 10px;
}

legend{
    font-size: 24px;
    font-weight: 600;
}

option{
    background-color: white;
    color: #000;
}

a{
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

button{
    border: none;
    padding: 10px;
    font-size: 14px;
    background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1));
    color: var(--primary-color-white);
    margin-bottom: 10px;
}